.App {
    width: 300px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 3px;
    margin-top: 100px;
}
